<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product by ID View</title>
</head>
<body>
    <h1>Product by ID View</h1>
    <div th:if="${produto}">
        <p th:text="${produto?.codigo}"></p>
        <p th:text="${produto?.nome}"></p>
        <p th:text="${produto?.estoque}"></p>
        <p th:text="${produto?.valor}">
    </div>
    <div th:unless="${produto}">
        <div>ERROR: INVALID PRODUCT</div>
    </div>
</body>
</html>